[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
transformers = "*"
pathlib = "*"
pandas = "*"
matplotlib = "*"

[dev-packages]
ipython = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
