[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
transformers = "*"
pathlib = "*"
pandas = "*"
matplotlib = "*"

[dev-packages]
ipython = "*"
black = "==20.8b1"
pytest = "*"

[requires]
python_version = "3.8"

