page-container {
  position: relative;
  min-height: 100vh;
}

content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 2.5rem;
  /* Footer height */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "RocknRoll One", sans-serif;
  font-size: 14px;
  background: linear-gradient(45deg, #598394 5%, #245570 70%);
  background-size: 200% 100% !important;
  animation: move 10s ease infinite;
  transform: translate3d(0, 0, 0);
  height: 100vh;
}

.user {
  width: 90%;
  max-width: 600px;
  margin: 10vh auto;
}

.user__header {
  text-align: center;
  opacity: 0;
  transform: translate3d(0, 500px, 0);
  animation: arrive 500ms ease-in-out 0.7s forwards;
}

.user__title {
  font-size: 35px;
  margin-bottom: -10px;
  margin: 0 auto;
  font-weight: 500;
  color: white;
}

.user__subtitle {
  max-width: 450px;
  font-size: 25px;
  margin-bottom: -10px;
  margin: 0 auto;
  font-weight: 400;
  color: white;
}

.form {
  margin: auto;
  width: 100%;
  max-width: 340px;
  margin-top: 40px;
  border-radius: 6px;
  overflow: hidden;
  opacity: 0;
  transform: translate3d(0, 500px, 0);
  animation: arrive 500ms ease-in-out 0.9s forwards;
}

.form--no {
  animation: NO 1s ease-in-out;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.form__input {
  display: block;
  width: 100%;
  padding: 20px;
  font-family: "RocknRoll One", sans-serif;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  transition: 0.3s;
  color: #245570;
}

.form__input:focus {
  background: #f7f7f7;
}

::placeholder {
  opacity: 0.6;
}

.btn {
  display: block;
  width: 100%;
  padding: 20px;
  font-family: "RocknRoll One", sans-serif;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  color: white;
  background: #245570;
  transition: 0.3s;
}

.btn:hover {
  background: #112936;
}

@keyframes arrive {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
